<script src = "http://code.highcharts.com/highcharts.js"></script>
<script src = "https://code.highcharts.com/modules/exporting.js"></script>

@using Highsoft.Web.Mvc.Charts
@using Highsoft.Web.Mvc.Charts.Rendering
@model List<Weather>

@{
    List<float> tmp = Model.OrderBy(x => x.WindSpeed).GroupBy(x => x.WindSpeed).Select(group => (float)group.Count() / 2).ToList<float>();
    List<ColumnSeriesData> values = new List<ColumnSeriesData>();
    tmp.ForEach(p => values.Add(new ColumnSeriesData {
        Y = p
        }));
    List<string> temperatures = Model.OrderBy(x => x.WindSpeed).Select(x => x.WindSpeed.ToString()).Distinct().ToList<string>();
    var chartOptions = new Highcharts{
    Title = new Title {
        Text = "Тривалість режимів вітрової активності"
      },

      XAxis = new List<XAxis> {
        new XAxis {
          Categories = temperatures
        }
      },
      YAxis = new List<YAxis> {
        new YAxis {
          Min = 0,
            Title = new YAxisTitle {
              Text = "Кількість годин"
            }
        }
      },
      Tooltip = new Tooltip {
        HeaderFormat = "<span style='font-size:10px'>{point.key}</span><table style='font-size:12px'>",
          PointFormat = "<tr><td style='color:{series.color};padding:0'>{series.name}: </td><td style='padding:0'><b>{point.y} </b></td></tr>",
          FooterFormat = "</table>",
          Shared = true,
          UseHTML = true
      },
      PlotOptions = new PlotOptions {
        Column = new PlotOptionsColumn {
          PointPadding = 0.2,
            BorderWidth = 0
        }
      },
      Series = new List<Series> {
        new ColumnSeries {
          Name = "Кількість годин",
          Data = values
        }
      }
  };

  chartOptions.ID = "chart";
  var renderer = new HighchartsRenderer(chartOptions);
}

@Html.Raw(renderer.RenderHtml())

<table class="table">
    <thead>
        <tr>
            <th>Швидкість вітру, м/с</th>
            <th>Кількість годин</th>
        </tr>
    </thead>
    
    @for(int i = 0; i < Model.Select(x => x.WindSpeed).Distinct().Count(); i++){
        <tr>
            <td>@temperatures[i]</td>
            <td>@tmp[i]</td>
        </tr>
        }
</table>